<div class="photo-body">
  <button type="text" (click)="showText()">{{ fullExplanation && !datePickerStatus ? "Hide " : "Show " }}Details</button>
  <div class="hd-url" [ngStyle]="{ 'background-image': getUrl() }" (click)="closeCalendar()" *ngIf="mediaType! === 'image'"></div>
  <div class="video-wrapper" *ngIf="mediaType! === 'video'">
    <youtube-player videoId="{{ videoURL }}"></youtube-player>
  </div>
  <div class="explanation" *ngIf="fullExplanation && !datePickerStatus">
    {{ explanation }}
  </div>
</div>
